body{
}

.container {
    height: 75vh;
    width: 50vw;
}

#stock-name, #current-price{
    font-family: serif;
    font-size: 40px;
}

#my-data{
    background: black;
}

a { 
    color: rgb(125, 168, 7); 
    text-decoration:none;
}