body {
    background:url(../project1/images/background-picture.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.jumbotron {
    background-color: black;
    color: white;
    padding: 10px;
}

.card-header {
    background-color: black;
    color: white;
}
#logo {
    height: 150px;
    text-align: left;

}
h1 {
    font-size: 30px;
    text-align: right;
    color: #eace6a;
    font-weight: bolder;
}
h2 {
    font-size: 15px;
    text-align: right;
    color: #eace6a;
    font-style: italic;
}

.flex-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a { 
    color: rgb(125, 168, 7); 
    text-decoration:none;
}
