body {
    background-image:url('images/market.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.jumbotron {
    background-color: black;
    color: white;
    padding: 10px;
}

.card-header {
    background-color: black;
    color: #eace6a;
}
#logo {
    height: 150px;
    text-align: left;

}
h1 {
    font-size: 30px;
    text-align: right;
    color: #eace6a;
    font-weight: bolder;
}
h2 {
    font-size: 15px;
    text-align: right;
    color: #eace6a;
    font-style: italic;
}

.flex-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer {
    position: absolute;
    bottom: 0;
    line-height: 0.15em;
    opacity: .75;
}

/* .navbar {
    float: right;
} */


/* .container {
    height: 40vh;
    width: 50vw;
} */



